@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");


body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    /* font-weight: 400; */
    line-height: 1.7;
    
}

.venue-grid {
    display: grid;
    gap: 1.5em;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-areas:
        'one'
        'two'
        'three'
        'four'
        'five';
}


.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

.four {
    grid-area: four;
}

.five {
    grid-area: five;
}

@media (min-width: 50em) {
    .venue-grid {
        grid-template-areas:
            'one five five'
            'four four three'
            'two two two';
    }
}