.venue-grid {
    display: grid;
    gap: 1.5em;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-areas:
        'windmill'
        'lexington'
        'garage'
        'macbeth'
        'wardrobe';
}


.windmill {
    grid-area: windmill;
}

.lexington {
    grid-area: lexington;
}

.garage {
    grid-area: garage;
}

.macbeth {
    grid-area: macbeth;
}

.wardrobe {
    grid-area: wardrobe;
}

@media (min-width: 30em) {
    .venue-grid {
        grid-template-areas:
        'lexington windmill'
        'garage wardrobe'
        'macbeth macbeth';
    }
}