@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    line-height: 1.7;

}

/* default order of grid items */
.venue-grid {
    display: grid;
    gap: 1.5em;
    grid-template-areas:
        'windmill'
        'wardrobe'
        'lexington'
        'macbeth'
        'grace';
}


/* USE GRID-AREA SHORTHAND TO SET UP GRID-ROW AND COL STARTING LINE POSITION */
.one {
    grid-area: windmill;
}

.two {
    grid-area: wardrobe;
}

.three {
    grid-area: lexington;
}

.four {
    grid-area: macbeth;
}

.five {
    grid-area: grace;
}

@media (min-width: 50em) {
    .venue-grid {
        grid-template-areas:
            'windmill wardrobe wardrobe'
            'macbeth macbeth lexington'
            'grace grace grace';
    }
}